body
{
	padding-top: 140px;
	padding-bottom: 20px;
}


/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo 
{
	width: 150px;
	margin: 0 auto;
	padding: 2em 0em;
	text-transform: uppercase;
}

#title h1
{
	letter-spacing: 0.10em;
	font-size: 3em;
	color: #FFF;
}

#title p 
{
	letter-spacing: 0.10em;
	color: #FFF;
}

#title a 
{
	text-decoration: none;
	color: #FFF;
}

/*********************************************************************************/
/* My Button (sign in)                                                           */
/*********************************************************************************/

.my-button-sign-in
{
	background-color: #045FB4;
	border-color: #045FB4;
}

#sign-in:hover
{
	background-color: #0c72d0;
	border-color: #0c72d0;
}

/*********************************************************************************/
/* My Button 2 (sign in/sign up)                                                 */
/*********************************************************************************/

.my-button-sign
{
	background-color: #045FB4;
	border-color: #045FB4;
	width: 100%;
}

#sign-1:hover
{
	background-color: #0c72d0;
	border-color: #0c72d0;
}

#sign-2:hover
{
	background-color: #0c72d0;
	border-color: #0c72d0;
}


/*********************************************************************************/
/* General Button                                                                */
/*********************************************************************************/

.my-button
{
	background-color: #045FB4;
	border-color: #045FB4;
	color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 2px;
	font-size: 15px;
}

#b1:hover
{
	background-color: #0c72d0;
	border-color: #0c72d0;
	color: #FFFFFF;
}


/*********************************************************************************/
/* Forgot Pass		                                                         */
/*********************************************************************************/

.forgot-pass
{
	color: #FFFFFF;
	padding-top: 10px;
	font-size: 100%;
}


/*********************************************************************************/
/* Navbar brand		                                                         */
/*********************************************************************************/

.navbar-brand
{
	color: white;
	padding-top: 10px;
	padding-bottom: 0px;
	float: right;
}


/*********************************************************************************/
/* Navbar header                                                                 */
/*********************************************************************************/

.navbar-header
{
	padding-left: 10px;
}


/*********************************************************************************/
/* Navbar Nav	                                                                 */
/*********************************************************************************/

.navbar-nav
{
	margin: 0px 0px;
}


/*********************************************************************************/
/* Navbar Brand	                                                                 */
/*********************************************************************************/

.navbar-brand
{
	height: inherit;
}


/*********************************************************************************/
/* Row                                                                           */
/*********************************************************************************/

.row
{
	font-size: 16px;
}

.row a
{
	color: black;
}


/*********************************************************************************/
/* Jumbotron                                                                     */
/*********************************************************************************/

.jumbotron
{
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 0px;
	height: inherit;
}

a
{
	font-size:16px;
}

p
{
	font-size:16px;
}


/*********************************************************************************/
/* Jumbotron Mod                                                                 */
/*********************************************************************************/

.jumbotron-mod
{
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 0px;
	padding-right: 15px;
	margin-bottom: 0px;
	height: inherit;

}


/*********************************************************************************/
/* Sign in - Sign up                                                             */
/*********************************************************************************/

.left-div
{
	float: left;
}

.right-div
{
	width: 100%;
}

.col-md-offset-3
{
	margin-left: 0%;
}

.container
{
	width: 50%;
	margin-right: 0px;
	padding: 0px;
}

.row
{
	height: 20px;
}


/*********************************************************************************/
/* Icons		                                                         */
/*********************************************************************************/
.my-glyphicon
{
	margin-right: 10px;
}


/*********************************************************************************/
/* Panel Well		                                                         */
/*********************************************************************************/
.well
{
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	min-height: 0px;
	height: 430px;
	padding-top: 0px;
}


/*********************************************************************************/
/* My Label		                                                         */
/*********************************************************************************/
.my-label
{
	font-size: 100%;
	padding-right: 20px;
	color: black;
	background-color: #FFFFFF;
}


/*********************************************************************************/
/* Field		                                                         */
/*********************************************************************************/
.my-field
{
	padding-bottom: 5px;
}
