/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo 
{
	width: 150px;
	margin: 0 auto;
	padding: 2em 0em;
	text-transform: uppercase;
}

#title h1
{
	letter-spacing: 0.10em;
	font-size: 3em;
	color: #FFF;
}

#title p 
{
	letter-spacing: 0.10em;
	color: #FFF;
}

#title a 
{
	text-decoration: none;
	color: #FFF;
}

/*********************************************************************************/
/* My Button                                                                         */
/*********************************************************************************/

.my-button 
{
	background-color: #045FB4;
}
