/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo 
{
	width: 150px;
	margin: 0 auto;
	padding: 2em 0em;
	text-transform: uppercase;
}

#title h1
{
	letter-spacing: 0.10em;
	font-size: 3em;
	color: #FFF;
}

#title p 
{
	letter-spacing: 0.10em;
	color: #FFF;
}

#title a 
{
	text-decoration: none;
	color: #FFF;
}

/*********************************************************************************/
/* My Button (sign in)                                                           */
/*********************************************************************************/

.my-button-sign-in
{
	background-color: #045FB4;
	border-color: #045FB4;
}

#sign-in:hover
{
	background-color: #0c72d0;
	border-color: #0c72d0;
}


/*********************************************************************************/
/* Navbar header                                                                 */
/*********************************************************************************/

.navbar-header
{
	padding-left: 10px;
}


/*********************************************************************************/
/* Row                                                                           */
/*********************************************************************************/

.row
{
	font-size: 16px;
}

.row a
{
	color: black;
}

